<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link  @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "" : "collapsed")"
               asp-controller="Home" 
               asp-action="Index">
                <i class="bi bi-grid"></i>
                <span>Home</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() ==  "Categories" ? "" : "collapsed")" 
               asp-controller="Categories" 
               asp-action="Index">
                <i class="bi bi-book"></i>
                <span>Categorias</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Glampings" ? "" : "collapsed")"
               asp-controller="Glampings"
               asp-action="Index">
                <i class="bi bi-file-earmark-post"></i>
                <span>Glampings</span>
            </a>
        </li>


    </ul>

</aside>