@model GlampingDTO

@{
    ViewData["Title"] = "Editar Glamping";
}

@section Styles {
    <link href="~/lib/summernote/summernote-bs5.min.css" rel="stylesheet" />
}

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Inicio</a></li>
            <li class="breadcrumb-item active"><a asp-action="Index">Glampings</a></li>
            <li class="breadcrumb-item active">Editar Glamping</li>
        </ol>
    </nav>
</div>

<section class="section dashboard">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title text.primary">Editar Glamping</h5>

            <form asp-action="Edit" method="POST" class="row g-3">
                <input type="hidden" asp-for="Id" />

                <div class="col-md-12">
                    <div class="form-floating">
                        <input asp-for="Name" class="form-control" placeholder="@Html.DisplayFor(dto => dto.Name)" />
                        <label asp-for="Name"></label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-floating">
                        <select asp-for="CategoryId" asp-items="Model.Categories" class="form-control"></select>
                        <label asp-for="CategoryId"></label>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-12">
                    <label asp-for="Content"></label>
                    <textarea asp-for="Content" class="form-control" placeholder="@Html.DisplayFor(dto => dto.Content)" rows="40"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>

                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a asp-action="Index" class="btn btn-secondary">Volver</a>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/lib/summernote/summernote-bs5.min.js"></script>
    <script src="~/lib/summernote/lang/summernote-es-ES.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#Content').summernote({
                placeholder: 'Edita el contenido del Glamping...',
                lang: 'es-ES',
            });
        });
    </script>
}